venv/
build/
.idea/
.DS_Store
*/**/__pycache__
*/**/**/__pycache__
*/__pycache__
torch/lib/tmp_install/
torch/lib/*.dylib*
torch/lib/*.h
torch/lib/build
torch/csrc/nn/THNN.cwrap
torch/csrc/nn/THNN.cpp
torch/csrc/generic/TensorMethods.cpp
torch.egg-info/
torch/test.py
